.game-page {
    background: linear-gradient(to bottom right, var(--blue-green), var(--blue-purple));
    background-repeat: no-repeat;
    padding: 2vw 5vw;
}

.game-container {
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 20px;
    box-shadow: 30px 30px 40px 0px rgba(23, 5, 36,0.3) ;
}


/* position and styles for left column */

.left-col {
    grid-column: 1/2;
    background-color: rgba(255, 255, 255, .5);
    border-bottom-left-radius: 18px;
    border-top-left-radius: 18px;
    padding: 2vw 2vw; 
}

.test-title {
    margin: 1.5vw 0 3vw;
    font-family: var(--outfit);
    font-size: 2rem;
    font-weight: 700;
    color: var(--purple);
}

.test-instructions {
    font-family: var(--outfit);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--almost-black);
    margin-bottom: 7vw;
}


/* position and styles for right column */

.right-col {
    background: linear-gradient(to bottom right, var(--blue-purple), var(--blue-green));
    border-bottom-right-radius: 18px;
    border-top-right-radius: 18px;
    grid-column: 2/3;
    justify-items: center;
    padding: 4vw 6vw;
}

.text-editor1 {
    height: 18vh;
    margin-bottom: 1.5vw;
}

.text-editor2 {
    height: 30vh;
    margin-bottom: 3vw;
}

.terminal-row {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto;
    grid-auto-rows: auto;
}

.terminal-window {
    display: grid;    
    grid-column: 2/3;
    width: 100%;
    text-align: center;    
}

.terminal {
    background-color: var(--purple);
    border-radius: 15px;
}

.run-btn-container {
    grid-column: 1/2;
}

.run-btn {
    cursor: pointer;
    max-width: 80%;
    background-color: transparent;
    border: none;
}

.run-btn:active #run-barrel {
    animation: run-shoot 0.1s ease-in-out 1;
}

@keyframes run-shoot {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-12px);
    }
}

.run-btn:active #run-bullet {
    animation: run-bullet 0.3s ease-in-out 1;
}

@keyframes run-bullet {
    from{
        opacity: 1;
        transform: translateX(0);
    }
    to{
        opacity: 0;
        transform: translateX(100px);
    }
}

.run-btn:active #run-house {
    animation: run-updown 0.1s ease-in-out 1;
}

@keyframes run-updown {
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}

#run-shot-effects{
    opacity: 0;
}

.run-btn:active #run-shot-effects {
    animation: run-flash 0.3s ease-in-out 1;
}

@keyframes run-flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.next-btn {
    display: grid;
    grid-column: 2/3;
    justify-items: end;
    margin-top: 1vw;
}

.next-btn-outer, .next-btn-disabled-outer {
    background: var(--purple);
    color: var(--light-green);
    padding: 6px 12px;
    border-radius: 12px;
    font-family: var(--bungee);  
    font-weight: 400;
    border: 2px solid transparent;
}

.next-btn-outer {
    cursor: pointer;
}

.next-btn-disabled-outer {
    justify-self: end;
    cursor: default;
    opacity: 0.2;
}

.next-btn-outer:hover {
    color: var(--purple);
    background-color: var(--light-green);
    font-family: var(--bungee);
    animation: shift-right 0.2s ease-in-out infinite alternate;
    transition: all 0.2s ease-in-out;
}

@keyframes shift-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}

.next-btn-inner {
    padding: 0 1rem;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid var(--light-green);
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    justify-content: center;
    align-items: center;
}

.next-btn-text {
    text-decoration: none;
    font-family: var(--bungee);
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    color: inherit;
}
