.settings-page-container{
    display: grid;
    align-items: center;
    justify-items: center; 
    background: radial-gradient(var(--light-green), var(--blue-purple));
    background-repeat: no-repeat;
    padding: 2vw 5vw;
}

.settings-options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15vw;
    justify-items: center;
    margin: 3vw 0 5vw;
}


/* languages and levels */

.settings-cols{
    font-family: var(--bungee-inline);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--purple);
    display: grid;
    justify-items: center;
}

.settings-cols h2{
    margin-bottom: 3vw;
}
.settings-cols input[type='radio']{
    display: none;
}

.settings-cols input[type='radio']:checked + span{
    background-color: var(--light-green);
    color: var(--light-purple);
    width: 100%;
    display: grid;
    justify-items: center;
}

.select-box{
    background-color: var(--light-purple);
    width: 280px;
    height: 105px;
    margin-bottom: 2vw;
    padding: 1.5vw;
    border-radius: 20px;
}

.select-box-inner{
    display: grid;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid var(--light-green);
    background-color: transparent;
}

.select-box-inner span{
    font-family: var(--bungee);
    font-size: 1.4rem;
    color: var(--light-green);
}


/* submit button */

.submit-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 1.5vw;
}

.submit-btn{
    align-self: center;
    justify-self: end;
    color: var(--purple);
    font-family: var(--outfit);
    font-weight: 700;
    font-size: 2.5rem;
    background-color: transparent;
}

.mini-turret-img{
    height: 100px;
    justify-self: start;
}

