.kudos-page-container{
    display: grid;
    align-items: center;
    justify-items: center; 
    background: radial-gradient(#B6F486, #88D4C3);
    background-repeat: no-repeat;
    padding: 2vw 5vw;
}


/* styling congrats message and animation */

.congrats-msg-content{
    display: grid;
    grid-template-columns: 1fr 2fr;     
    grid-gap: 0;
    margin: 7vw 0;
}

.turret-img-kudos{
    justify-self: start;
}

.congrats-msg{
    font-family: var(--bungee-inline); 
    font-weight: 400;
    font-size: 4.5rem;
    color: #400E63;
}


/* styling "what's next" content */

.whats-next-content{
    padding: 3vw;
    margin-bottom: 5vw;
    background-color: #8769B6;
    border-radius: 20px;
}

.whats-next-inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 5vw;
    justify-items: center;
    align-items: center;
    padding: 4vw;
    border: 1.7px solid #B6F486;
    background-color: transparent;
}

.h2-content{
    font-family: var(--outfit);
    font-size: 2.5rem;
    font-weight: 600;
    color: #B6F486;
    align-self: center;
}

.h3-content{
    align-self: center;
}

.h3-title{
    font-family: var(--outfit);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 20px;
    color: #A8AEDD;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

.h3-title:hover{
    color: #B6F486;
    transform: scale(1.1);
}
