.page-container {
    width: 100vw;
    /* height: 100vh; */
    background: radial-gradient(74.44% 50% at 50% 50%, #B6F486 0%, #A8AEDD 100%);

}

/* position and style heading */

.page-hero-title-container {
    width: 100%;
    padding-bottom: 8vw;
}

.page-hero-title {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-title {
    margin: 0;
    font-size: 112px;
    color: #400E63;
    font-weight: 400;
    font-family: var(--bungee-inline);
    margin-right: 30rem;

    /* remove the abilit to highlight the text on screen */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.homepage-title-outlined {
    margin: 0;
    margin-left: 12rem;
    font-size: 112px;
    line-height: 34px;
    color: #400E63;
    font-family: var(--bungee-shade);
    font-weight: 400;

    /* remove the abilit to highlight the text on screen */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


/* turret animation */

.hero-turret-img {
    height: 350px;

    /* remove the abilit to highlight the text on screen */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#barrel{
    animation: shoot 0.3s ease-in-out 5 ;
}

@keyframes shoot{
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(-15px);
    }
}

#house{
    animation: updown 0.3s ease-in-out 5;
}

@keyframes updown{
    from{
        transform: translateY(0);
    }
    to {
        transform: translateY(8px);
    }
}


/* position and style landing page txt and btns */

.page-hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-content-p {
    font-family: Consolas;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    margin-bottom: 5rem;

    /* remove the abilit to highlight the text on screen */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.page-hero-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4vw 0;
}

.hero-btn-outer {
    width: 290px;
    height: 100px;
    background: #400E63;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B6F486;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
    rotate: 0deg;
}

.hero-btn-outer:hover {
    color: #400E63;
    background-color: #B6F486;
    font-family: var(--bungee-inline);
    font-weight: 400;
    animation: shift-right 0.2s ease-in-out infinite alternate;
    transition: all 0.2s ease-in-out;
}

@keyframes shift-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(10px);
    }
}


.hero-btn-inner {
    width: 100%;
    margin: 0 2rem;
    padding: 1rem 0;
    /* box-sizing: border-box; */
    border: 1px solid #B6F486;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-btn-text {
    text-decoration: none;
    font-family: var(--bungee-inline);
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    color: inherit;

    /* remove the abilit to highlight the text on screen */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

