.toggle-container {
    display: grid;
    
    /* background: white; */
    /* padding: 1vw; */
}

.toggle-btn {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column: 1/2;
    justify-items: start;
    background: white;
    font-family: var(--outfit);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--light-purple);
    /* border: none; */
    border-radius: 12px;
    padding: 1vw 1.5vw;
    

}

.triangle-down {
    grid-column: 2/3;
    align-self: center;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 20px solid var(--light-purple);
    /* border: 3px solid black; */

}
